*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
/*	padding: 40px 0;*/
	flex-wrap: wrap;

}
.container .box
{
	position: relative;
	display: flex;
	justify-content: center;
/*	align-items: center;
	padding: 40px 0;*/
	width: 320px;
	height: 450px;
	margin: 20px 30px;
	border: 10px solid rgb(157, 134, 206, 0.8);
}

.container .box span
{
	position: absolute;
	top: 6px;
	left: 6px;
	right: 6px;
	bottom: 6px;
	z-index: 2;
}
.container .box span:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: rgb(157, 134, 206, 0.2);
	pointer-events: none;
}
.container .box .content
{
	position: relative;
	z-index: 10;
	padding: 20px 20px;
}

 h2
{
	font-size: 24px;
	color: #000;
	margin-bottom: 10px;
}
p
{
	font-size: 16px;
	color: #000;
	margin-bottom: 10px;
	line-height: 1.4em;
}
 a
{
	display: inline-block;
	font-size: 16px;
	color: #111;
	background: #fff;
	padding: 10px;
	text-decoration: none;
	font-weight: 700;
}