body
{
  background: #232625;
}
div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /* border: 1px solid #666;*/
    width: 100%;    
    justify-content: center;
}

.one {
  grid-area: one;
  display: inline-block;
  text-align: center;

}

.two {
  grid-area: two;
  text-align: center;

}

.three {
  grid-area: three;
  text-align: center;

}
.four{
  grid-area: four;
  text-align: center;

}


.container {
  display: grid;
  grid-template-columns: 0.3fr 0.3fr 0.3fr ;
  grid-auto-rows: auto, auto;
  grid-gap: 40px;
  grid-template-areas: 
    "one one one"
    "two three four";
}
.input-style
{
  background: #fcffff;
  color: #333;
  border: none;
  padding: 10px 50px;
  margin: 20px 20px 0 0;
  border-radius: 20px;
  outline: none;
}

.button-style
{
  border-radius: 20px;
  background: #fbb807;
  color: #333;
  outline: none;
  border: none;
  padding: 10px 50px;

}

.block
{
  border: 1px solid #fbb807;
  height: 400px;
  margin: 50px 0 0 0;
  border-radius: 15px;
  width: auto;
}

.card
{
  height: auto;
  background: #fbb807;
  color: #333;
  width: 80%;
  margin: 20px auto;
  border-radius: 0 0 15px 15px;
  box-shadow: 3px 0 30px 0 rgb(135, 100, 6, 0.5);;
  border-top: 5px solid  #b3850f;
}

.name
{
  font-size: 18px;
  font-weight: 300;
}

.text
{
  margin: 0 0 10px 0;
  padding: 0px 0 20px 0;
}