*
{
	margin: 0;
	padding: 0;

}

body
{
	background: #282828;
}

button
{
	background: #535353;
	border: none;
	cursor: pointer;
}
.information
{
	display: flex;
	width: 100%;
	height: 10%;
	border: 1px solid #fff;
}

.file-button
{
	margin-left: auto;
	border: 1px solid #fff;
}

.img-header
{
	width: 17px;
	height: 17px;
	padding: 10px 15px;
}


.vertical 
{
	width: 80px;
	background: #535353;
	padding: 10px 5px 50px 5px;

}

img
{
	width: 17px;
	height: 17px;
	padding: 10px 10px;
	/*border: 1px solid #fff;*/
}

.instruments 
{
	display: flex;
	flex-wrap: wrap;
}


.canvas
{
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	
}
.one {
  grid-area: one;
  background: #535353;
  z-index: 10;
  width: 100%;
}

.two {
  grid-area: two;
  z-index: 11;
}

.three {
  grid-area: three;
  text-align: center;
  /*margin: 25% 0;*/
  z-index: 0;
}

.container {
  display: grid;
  width: 100%;
  grid-template-columns: 100px auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "one one"
    "two three";
}

.draw-panel
{
  height: 400px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.active
{
	background: #282828;

}
ul, li 
{
  list-style: none;
}
.wrap 
{
   width: 100%;
}

ul 
{
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

li 
{
  padding: 0px 10px;
}

.right {
  margin-left: auto;
}

.left
{
	display: none;
	padding:  10px 0 0 150px;
	color: #ddd;

}
.size
{
	display: none;
	padding:  10px 0 0 50px;
	color: #ddd;
}

.opacity
{
	display: none;
	padding:  10px 0 0 50px;
	color: #ddd;
}
.sizeBrush
{
	display: none;
	padding:  10px 0 0 50px;
	color: #ddd;
}
select
{
	display: none;
	background: none;
	border: none;
	color: #ddd;
	outline: none;
}


.color
{
	border: none;
	margin: 0 10px 0 12px;
	width: 30px;
	height: 30px;
	background: #535353;
	z-index: 12;

}
.color2
{
	border: none;
	margin: -13px 10px 0 32px;
	width: 30px;
	height: 30px;
	background: #535353;
	z-index: 2;

}

.swap-arrow
{
	margin: -5px 0 -25px 40px;
}

.triangle 
{
	display: block;
	margin: -10px 0 0 27px;
	position: absolute;
	border: 3px solid transparent; 
	border-right: 3px solid #ddd; 
	border-bottom: 3px solid #ddd;
}

.list-triangle
{
	display: flex;
	flex-wrap: wrap;
	background: #535353;
	width: 200px;
	color: #ddd;
	border: 2px solid #232323;
	text-align: left;
	font-size: 13px;
	padding: 3px;
	margin: -180px 0 0 90px;
	z-index: 30;
	cursor: pointer;
}

.style-triangle
{
	padding: 1px 0 0 5px;

}

.triangle-none
{
	display: none;
}

.triangle-block
{
	display: none;
}

.triangle2
{
	margin: -10px 0 0 27px;
	position: absolute;
	border: 3px solid transparent; 
	border-right: 3px solid #ddd; 
	border-bottom: 3px solid #ddd;
	display: none;
}

.circle-none
{
	display: none;
}

#canvas1 {
    z-index: 0;
    opacity: 0;
}

#canvas {
    position:absolute;
    z-index: 1;
    opacity: 1;
}

