<!DOCTYPE html>
<html>
<head>
	<title>Обзор популярных библиотек и фреймворков JS</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style/style.css">
</head>
<body>

	<div id ="app" class="center">
		<div class="tables"
			v-for ="(table, index) in tables"
			:key = "index">
			<button class="right" @click="deleteTable(index)">x</button>
			<img v-bind:src="table.image" class="leftimg">

			<p class="text"><b>{{table.type}}</b></p>
			<p class="text">	{{table.description}}</p>

			

		</div>
	</div>	
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</body>
</html> 