button
{
	margin: 10px;
}
.square {
  height: 50px;
  width: 50px;
  background-color: #555;
  margin: 50px 0 50px 0;
}
#container { 
  position: relative;
  width: 100px;
  height: 100px;
  margin: 50px;
}

.side {
  width: inherit;
  height: inherit;
  border: 3px solid #13a897;
  background:  rgb(150, 148, 176, 0.5);
}
.folder-one
{
	height: 100px;
	width: 150px;
	background: url(../img/22.png);
	margin: 20px;
}
.folder-two
{
	height: 100px;
	width: 150px;
	background: url(../img/11.png);
	margin: 20px;
	transition-duration: 0.7s;
}


