.status
{
  border: 1px solid #000;
  height: 400px;
  width: 400px;

}

body
{
  height: 5000px;
}
.progress
{
  position: fixed;
  top:0;
  width: 0%;
  height: 6px;
  left: 0;
  background-color: #c7c7ff; 
}