.center
{
	width: 40%;
	margin: 0 auto;
}

img
{

	width: 25%;
	height: 25%;
	padding: 0 20px 0 0;
}

.leftimg 
{
    float:left; 
    margin: 7px 7px 0px 0; 
 }

 .tables
 {
 	display: inline-block;
 	width: 100%;
 	margin: 0 0 20px 0;
 	padding: 0 0 40px 0;
 }

 .right
 {
 	float: right;
 	border: 1px solid #000;
 	padding: 5px 10px;
 }

 .text
 {
 	margin: 10px 30px 0 0;
 }

 button
 {
 	cursor: pointer;
 }